<!DOCTYPE html>
<html>
  <head>
    <title>Division sociale de l’espace résidentiel   Cas de la Zone Urbaine de Mexico</title>
    <meta charset="utf-8">
    <meta name="author" content="Mathieu Gheno, Ekaterina Konshina, Nicolas Roelandt" />
    <link href="libs/remark-css/default.css" rel="stylesheet" />
    <link href="libs/remark-css/metropolis.css" rel="stylesheet" />
    <link href="libs/remark-css/metropolis-fonts.css" rel="stylesheet" />
  </head>
  <body>
    <textarea id="source">
class: center, middle, inverse, title-slide

# Division sociale de l’espace résidentiel <br /> Cas de la Zone Urbaine de Mexico
## Projet tutoré (Devoir transversal)
<html>
<div style="float:left">

</div>
<hr color='#EB811B' size=1px width=796px>
</html>
### Mathieu Gheno, Ekaterina Konshina, Nicolas Roelandt
### 11 janvier 2017

---




background-image: url('../images/Mapa_de_las_lagunas_rios_y_lugares_que_circundan_a_Mexico_(22341819185).jpg')


Image credit: [Fondo Antiguo de la Biblioteca de la Universidad de Sevilla](https://www.flickr.com/photos/fdctsevilla/22341819185/)

---

class: center, middle

# Département

### Master 2ème année Parcours Géomatique, géodécisionnel, géomarketing et multimédia (G2M)

![:scale 50%](../images/mainlogo.png)

---
class: inverse, center, middle

# Introduction

---
# Contexte

Données issues de l'[INEGI](http://www.inegi.org.mx/default.aspx):

* [Encuesta Intercensal 2015](http://www.inegi.org.mx/est/contenidos/proyectos/accesomicrodatos/encuestas/hogares/especiales/ei2015/) 

* [Censo de Población y Vivienda 2010](http://www.inegi.org.mx/est/contenidos/proyectos/accesomicrodatos/cpv2010/default.aspx)
---

# Préparation des données

## données 2015 
* 64 fichiers csv
* plus de 180 variables
* 1 personne = 1 ligne
* 1 vivienda = 1 ligne

Soit plus de 22 millions de lignes

## données 2010
* 32 fichiers xls
* agrégées au *Municipe*

---

# Préparation des données
### Filtrage 

Zone d'étude limitée à la Zone Urbaine de Mexico:
* 76 *municipes*:

---

# Préparation des données
## choix des variables

---
class: inverse, center, middle

# Analyse des données

---
# Analyse en Composantes Principales
---
# Analyse factorielle des correspondances

une diapo
---
# Analyse factorielle des correspondances
Une autre diapo
---
# Classification ascendante hiérarchique

---
class: inverse, center, middle

# Outils
---
# Outils
- Mise en forme des données: [Python/pandas](http://pandas.pydata.org/)
- Analyse: [R]()
- Rapport écrit: [liftr](https://liftr.me/)
- présentation de la soutenance: [Xaringan]()
- Site internet: [blogdown](https://bookdown.org/yihui/blogdown/)
---
class: inverse, center, middle

# Conclusion
---
# Conclusion

---
# Aller plus loin
## Analyse
- comparaison avec les données de 2010
- évaluer les populations impactées par le seisme de septembre 2017

## Maîtrise de R
- Visualisation et cartographie dynamiques: [R shiny](http://shiny.rstudio.com/) et [Leaflet](https://rstudio.github.io/leaflet/)
- manipulation des facteurs : [forcats](http://perso.ens-lyon.fr/lise.vaudor/manipulation-de-facteurs-avec-forcats/)
- programmation fonctionnelle: [purrr](http://colinfay.me/purrr-statistics)
- production éditoriale: [bookdown](https://bookdown.org/yihui/bookdown/)
---
class: center, middle, inverse

# Fin

**Merci pour votre attention**

Liens vers les dépôts : https://framagit.org/m2_projet_mexique

Lien vers le site: http://m2_projet_mexique.frama.io/website

{{---}}

Slides created via the R package [**xaringan**](https://github.com/yihui/xaringan).

The chakra comes from [remark.js](https://remarkjs.com), [**knitr**](http://yihui.name/knitr), and [R Markdown](https://rmarkdown.rstudio.com).
    </textarea>
<script src="libs/remark-latest.min.js"></script>
<script src="libs/macros.js"></script>
<script>var slideshow = remark.create({
"highlightStyle": "github",
"highlightLines": true,
"countIncrementalSlides": false
});
if (window.HTMLWidgets) slideshow.on('afterShowSlide', function (slide) {
  window.dispatchEvent(new Event('resize'));
});
(function() {
  var d = document, s = d.createElement("style"), r = d.querySelector(".remark-slide-scaler");
  if (!r) return;
  s.type = "text/css"; s.innerHTML = "@page {size: " + r.style.width + " " + r.style.height +"; }";
  d.head.appendChild(s);
})();</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
  }
});
</script>
<!-- dynamically load mathjax for compatibility with self-contained -->
<script>
(function () {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src  = 'https://cdn.bootcss.com/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML';
  if (location.protocol !== 'file:' && /^https?:/.test(script.src))
    script.src  = script.src.replace(/^https?:/, '');
  document.getElementsByTagName('head')[0].appendChild(script);
})();
</script>
  </body>
</html>
